.unit {
  /* overflow: hidden; */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.unit__inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  margin: 0 auto;

  will-change: transform;

  backface-visibility: hidden;
  perspective: 1000;
}

.background4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;

  will-change: transform;

  backface-visibility: hidden;
  perspective: 1000;

  overflow: hidden;
}

.background4 img {
  display: block;
  width: 100%;

}

@media screen and (max-width: 42em) {
  .background4 img {
    height: 120%;
    max-width: none;
  }
}